/* Created by < MOHSSINE ABOUTAJ > in 1438-2017 */
/************************************************/
/* Global functions and variables */
/* font faces */
@font-face {
  font-family: moNowel;
  src: url("../fonts/moNowel.ttf"); }
@font-face {
  font-family: quran;
  src: url("../fonts/quran.ttf"); }
@font-face {
  font-family: Xarabic;
  src: url("../fonts/arabswell-3.ttf"); }
/************************/
/* Style for font qlQuran */
.quran {
  font-family: quran;
  font-size: 26px; }

/*************************************/
/* start styles of Global use ***************/
body {
  position: relative;
  margin: 0;
  padding: 0;
  direction: rtl;
  background-color: #eee;
  font-family: moNowel;
  scroll-behavior: smooth; }

.toUp {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 30px !important;
  color: #888;
  background-color: #aaa;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.toUp:hover {
  color: #aaa;
  background-color: #888;
  cursor: pointer; }

h1, h2, nav {
  font-family: Xarabic; }

span {
  font-weight: bold;
  color: gold; }

p {
  font-size: 22px;
  line-height: 1.6;
  padding: 5px; }

nav {
  width: 100%;
  padding: 0;
  direction: rtl;
  position: fixed !important;
  top: 0;
  background-color: #121;
  border-bottom: 3px solid #fff;
  font-size: 27px;
  z-index: 2;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; }

nav .logo {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 60px;
  height: 40px;
  display: block;
  margin: 10px 20px;
  background-image: url("../img/logo.jpg");
  background-size: cover; }

nav * {
  color: #eee; }

nav ul li:not(:last-of-type):after {
  content: " | "; }

nav ul li a {
  padding: 15px;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear; }

nav ul li a:hover, .active {
  background-color: #eee;
  color: #121; }

nav ul {
  margin-top: -30px;
  margin-right: 50px;
  margin-bottom: 10px;
  margin-left: 0px; }

nav ul li {
  display: inline-block; }

nav .drop {
  display: none; }

.bot-nav {
  margin-top: 110px; }

/* end styles of Global element ****************/
/* start classes ************************/
.header {
  background-image: url("../img/Quran.jpg");
  background-size: cover; }

.header > div {
  background: rgba(0, 0, 0, 0.5);
  padding: 30px 0px; }

.container, .containerSimple {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  opacity: .64;
  background-color: rgba(0, 0, 0, 0.7);
  color: #eee;
  -webkit-box-shadow: -11px 11px 51px #494;
  -moz-box-shadow: -11px 11px 51px #494;
  -ms-box-shadow: -11px 11px 51px #494;
  -o-box-shadow: -11px 11px 51px #494;
  box-shadow: -11px 11px 51px #494;
  border: 1px solid #eee; }

/* => page: alQurae */
.container {
  max-height: 440px;
  overflow: scroll; }

.container img {
  width: calc(100% / 3);
  height: 300px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.container p, .container img {
  float: right; }

.container p {
  width: calc(100% / 1.5); }

.container > p > a {
  color: gold;
  float: left; }

/* => page: Tilawat */
.controllers {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 5px auto;
  padding: 20px;
  width: 60%;
  direction: ltr;
  text-align: center;
  font-size: 22px;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
  border-radius: 20%; }

.controllers .fa {
  color: #b19393;
  margin: 5px; }

.controllers .fa:hover {
  color: #fff;
  cursor: pointer; }

.sorahInfo {
  padding-top: 10px;
  direction: rtl;
  font-size: 22px; }

table {
  margin: 5px auto;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  border-radius: 5%;
  width: 95%;
  font-size: 18px;
  font-family: arial;
  display: table; }

table td {
  border: 2px solid #fff;
  padding: 5px;
  vertical-align: middle;
  width: calc(100% / 3); }

/* => page: About */
.containerSimple .about {
  margin: 10px auto;
  padding: 10px;
  font-size: 22px;
  direction: rtl;
  text-align: right; }

.containerSimple .about ul li::after {
  content: " \f0a8 ";
  font-family: fontAwesome;
  color: #121; }

.containerSimple .about center {
  margin-top: 20px; }

/* => page: Contact */
.contact div i {
  margin: 8px; }

.contact div {
  color: #eee;
  width: 50%;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid #121;
  opacity: 0.7;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  border-radius: 10%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.mail {
  background-color: #2c1010; }

.fb {
  background-color: #118; }

.tw {
  background-color: #0a9999; }

.gp {
  background-color: #992504; }

.git {
  background-color: #193334; }

.mail:hover, .fb:hover, .tw:hover, .gp:hover, .git:hover {
  opacity: 1; }

/* end classes *********************/
/* footer of pages ****************/
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: block;
  background-color: #121;
  color: #eee;
  font-size: 18px;
  border-top: 1px solid gold;
  height: 44px; }

footer > div {
  float: right;
  padding: 5px;
  width: 50%;
  text-align: center; }

/* Media query */
/* for Large screens */
@media (min-width: 1200px) {
  .container, .containerSimple {
    max-width: 1500px; } }
/* for Tablet screens */
@media (min-width: 769px) and (max-width: 991) {
  /* Global classes and elment */
  .quran {
    font-size: 22px; }

  p {
    font-size: 16px; }

  nav .logo {
    margin: 5px; }

  nav {
    font-size: 24px; }

  nav ul li {
    display: block; }

  nav ul li:after {
    content: "" !important; }

  nav ul li a {
    padding: 5px;
    display: block; }

  nav ul {
    margin-right: -30px;
    display: none; }

  .drop {
    display: inline-block;
    background: #eee;
    color: #121;
    position: absolute;
    top: 10px;
    left: 10px; }

  .bot-nav {
    margin-top: 30px !important; }

  /* end styles of element ****************/
  /* start classes ************************/
  .container, .containerSimple {
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 12px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: none; }

  .container {
    max-height: 60px;
    overflow: hidden; }

  .container img {
    height: auto; }

  /* => page: Tilawat */
  .controllers {
    width: 100%;
    margin: 2px;
    font-size: 20px; }

  .sorahInfo {
    padding-top: 5px;
    font-size: 18px; }

  /* => page: Contact */
  .contact div {
    width: 100%; }

  /* end classes *********************/
  /* footer of page ****************/
  footer {
    height: auto;
    font-size: 10px; }

  footer > div {
    padding: 2px;
    width: 100%;
    float: none; } }
/* for smartphone and small screens */
@media (max-width: 768px) {
  /* Global classes and elment */
  .quran {
    font-size: 16px; }

  p {
    font-size: 14px;
    line-height: 1.4;
    padding: 2px; }

  nav .logo {
    margin: 10px; }

  nav {
    font-size: 30px; }

  nav ul li {
    display: block; }

  nav ul li:after {
    content: "" !important; }

  nav ul li a {
    padding: 5px;
    -webkit-transition: all 0.25 linear;
    -moz-transition: all 0.25 linear;
    -ms-transition: all 0.25 linear;
    -o-transition: all 0.25 linear;
    transition: all 0.25 linear;
    display: block; }

  nav ul {
    margin-right: -30px;
    display: none;
    margin-top: 5px; }

  .drop {
    display: inline-block !important;
    color: #eee;
    background-color: #121;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 40px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }

  .drop:hover {
    background-color: #eee;
    color: #121;
    cursor: pointer; }

  .bot-nav {
    margin-top: 60px; }

  /* end styles of element ****************/
  /* start classes ************************/
  .container, .containerSimple {
    width: 100%;
    font-size: 12px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: none; }

  .container {
    max-height: 250px;
    overflow: scroll; }

  .container img {
    height: auto; }

  /* => page: Tilawat */
  .controllers {
    width: 100%;
    margin: 2px;
    font-size: 18px; }

  .controllers .fa {
    margin: 2px; }

  .sorahInfo {
    padding-top: 5px;
    font-size: 14px; }

  /* => page: Contact */
  .contact div {
    width: 100%; }

  /* end classes *********************/
  /* footer of page ****************/
  footer {
    height: auto;
    font-size: 11px; }

  footer > div {
    padding: 2px;
    width: 100%;
    float: none; } }

/*# sourceMappingURL=style.css.map */
